body {
  background-image: url('../src/assets/images/chronos_bg.jfif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin: 0px;
}

.header-login {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.header-logo a{
  font-family: "Caesar Dressing", system-ui;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.header-logo a:visited {
  text-decoration: none;
}

.header-logo a:hover {
  color: #FBC450;
  text-shadow: 0 0 8px white;
}

.nav-btn {
  display: flex;
}

.nav-link {
  text-decoration: none;
}

.user-link {
  color: white;
  font-family: "Cormorant Garamond", serif;
  padding-right: 20px;
}

.about-btn {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  background-color: #FBC450;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
}

.about-btn a:visited {
  color: black;
  text-decoration: none;
}

.about-btn:hover {
  text-decoration: underline;
  box-shadow: 0px 0px 10px 5px white;
}

.login-signup {
  display: flex;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  font-weight: bold;
}

.login-signup a {
  background-color: #FBC450;
  color: black;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid black;
}

.login-signup a:visited {
  text-decoration: none;
  
}

.login-signup a:hover {
  text-decoration: underline;
  box-shadow: 0px 0px 10px 5px white;
}

.logout-btn {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  margin-right: 10px;
}


.back-btn {
  font-size: 18px;
}

button:hover {
  text-decoration: underline;
  box-shadow: 0px 0px 10px 5px white;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
}

footer button {
  display: flex;
}
