body {
  background-image: url('../src/assets/images/chronos_bg.jfif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.header-login {
  background-color: black;
  display: flex;
  justify-content: space-between;
  
}

.header-logo a{
  font-family: "Caesar Dressing", system-ui;
  color: white;
  text-decoration: none;
}

.header-logo a:visited {
  text-decoration: none;
}

.login-signup {
  font-family: "Aboreto", system-ui;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  font-weight: bold;
}

.login-signup a {
  background-color: #FBC450;
  color: black;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
  
}

.ogin-signup a:visited {
  text-decoration: none;
}
