.signup-form {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, .9);
    margin: 10%;
    margin-left: 40%;
    margin-right: 40%;
    padding: 30px;
    padding-bottom: 50px;
    border-radius: 5%;
}

.signup-form h4 {
    font-size: 40px;
    font-family: "Caesar Dressing", system-ui;
}

.signup-form input {
    display: flex;
    padding: 5px;
}

.form-input {
    font-family: "Cormorant Garamond", serif;
}

.card-body p {
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    
}

.signup-submit {
    font-size: 18px;
    font-weight: bold;
}

.signup-submit:hover {
    text-decoration: underline;
  box-shadow: 0px 0px 10px 5px white;
}

button {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    background-color: #FBC450;
    color: black;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
}